.gridBox {
    border: 1px solid grey;
}

#grid {
    border: 1px solid grey;
    width: 75vh;
    height: 75vh;
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    background: white;
    display: grid;    
}